:root {
    background-color: rgb(231, 214, 193);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.quiz {
    margin: 100px auto 0 auto;
    max-width: 400px;
}

.scores {
    margin: 100px auto 0 auto;
    max-width: 400px;
}

p {
    margin: 20px 15px;
}

.landing {
    text-align: center;
}

.scoresHeader {
    position: absolute;
    top: 20px;
    left: 15px;
}

.timer {
    position: absolute;
    top: 20px;
    right: 15px;
}

button {
    font-size: 15px;
    padding: 1rem;
    width: 10rem;
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(3, 3, 3);
    background: linear-gradient(90deg, rgb(186, 164, 123) 100%, rgb(217, 191, 143) 100%);
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(117, 107, 89);
    transition: transform 150ms;
    transform: scale(1.03);
}

.hide {
    display: none;
}

/* not sure how this one will turn out, make sure to come back to check this */
.feedback {
    font-style: bold;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 15px;
    color: #fff;
    border-top: 2px solid #4B0082;
}

ol {
    padding-left: 15px;
    max-height: 600px;
    overflow: auto;
}
  
  li {
    padding: 5px;
    list-style: decimal inside none;
}
  
  li:nth-child(odd) {
    background-color: #ffffff;
}

/* This will apply on any screen smaller than 768px */
@media screen and (max-width: 768px) {

}

/* This will apply on any screen smaller than 575px */
@media screen and  (max-width: 575px) {

}